# Backstage override configuration for your local development environment

signInPage: github

auth:
  # repeat environment from main file
  environment: development
  # now the new provider (will add to main file)
  disableScmAuth:
    forGitHub: ${GITHUB_DISABLE_SCM_AUTH}
  providers:
    github:
      development:
        clientId: ${GITHUB_AUTH_CLIENT_ID}
        clientSecret: ${GITHUB_AUTH_CLIENT_SECRET}
        signIn:
          resolvers:
            - resolver: usernameMatchingUserEntityName
            - resolver: emailMatchingUserEntityProfileEmail
            - resolver: emailLocalPartMatchingUserEntityName
        scope:
          - read:user
          - user:email
          - read:org   # required for org/team resolution

integrations:
  github:
    - host: github.com
      apps:
        - appId: ${GITHUB_APP_ID}
          clientId: ${GITHUB_CLIENT_ID}
          clientSecret: ${GITHUB_CLIENT_SECRET}
          privateKey: |
            ${GITHUB_PRIVATE_KEY}
          # webhookSecret:

catalog:
  providers:
    githubOrg:
      id: development
      githubUrl: https://github.com
      orgs:
        - "${GITHUB_ORG}"
      schedule:
        frequency:
          minutes: 5
        timeout:
          minutes: 3
    github:
      development:
        organization: "${GITHUB_ORG}"
        schedule:
          frequency:
            minutes: 5
          timeout:
            minutes: 3
